.input1{
    height: 40em;
    width: 30em;
}
div{
    width: 100%;
    margin-top: 5em;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.input2{
    margin-left: 1em;
    width: 3em;
}
.input3{
    height: 40em;
    width: 30em;
    margin-left: 1em;
}